/.vscode/
/scratch/
spyglass.json
Stellarity.zip
artifacts/
new_translations/
.venv/

craftsmith/
Nullscape_v2.0.0+26.3/

build/
.spyglassrc.json

hs_err_pid22536.log
stellarity-6.0.0.zip
resource_pack.zip
logs/2026-09-24-1.log.gz
logs/2026-09-24-2.log.gz
logs/2026-09-24-3.log.gz
logs/2026-09-24-4.log.gz
logs/2026-09-24-5.log.gz
logs/2026-09-24-6.log.gz
logs/2026-09-24-7.log.gz
logs/latest.log
nullscape_compat_26_3.zip
shulking_citadel.nbt
boss_core.nbt
citadel_assembly.nbt
citadel_shell.nbt
